[Desktop Entry]
Name = sample
Comment=Python Program
Exec=python /home/pi/sample.py
Icon=/home/pi/TsaimingRoboWheelMARK.jpg
Terminal=false
MutipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
